/* ---- reset ---- */

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}


/* ---- typography ---- */

body {
	font-family: Roboto, Lato, Open Sans;
	font-size: 16px;
	line-height: 80%;	
}

h1 {
	font-size: 7em;
	color: white;
	margin-bottom: 100px;
}

.underline {
	font-size: 1.5em;
	color: white;
	text-decoration: underline;
}

.good-luck {
	text-align: right;
	color: teal;
	font-weight: 600;
	padding-right: 1em;
}

p {
 font-size: 1.2em;
 color: black;
}

#screen {
	width: 100vw;
	height: 100vh;
  padding: 0;
	margin: 0;
	display: flex;
  align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* .flex-center {
	padding: 0;
	margin: 0;
	display: flex;
  align-items: center;
	justify-content: center;
	flex-direction: column;
} */

.small-font {
	font-size: 1.1em;
}

.main-page {
	/* background-image:url('images/main-image.jpeg'); */
	/* background-size: cover; */
	background-color: lightblue;
}

.game-screen {
	background-color: paleturquoise;
}

.canvas {
	border: 2px solid white;
	background-size: cover;
	background-image: url('images/nastya-friday-game-background-1.jpg')
}

.game-over {
	background-image: url('images/game-over2.jpg');
	background-color: black;
	background-repeat: no-repeat;
	background-position: center;	
}

button {
	font-size: 1.2em;
	color: darkslategray;
	font-weight: 600;
	border-radius: 10%;
	border-style: 1px solid white;
	padding: 7px 15px;
	margin-top: 2em;
	background-color: white;
	width: 8em;
	border-radius: 20px;
}

.commands {
	width: 4em;
}

button:hover {
	transform: scale(1.1);
}

.button-start {
	border-radius: 20px;
	color: darkslategray;
	font-weight: 600;
}

.no-style {
	text-decoration: none;
}

.score {
	display: flex;
	align-content: space-around;
	justify-items: flex-start;
	flex-direction: row;
	font-size: 1em;
	color: green;
	text-decoration-style: none;
	list-style-type: none;
}

li {
	margin-right: 50px;
	text-transform: uppercase;
}

.instructions {
	background-color: lightblue	;
	opacity: 0.8;
	padding: 10px 15px;
	line-height: 20px;
	border: 3px solid white;
	padding: 1em 2em;
}

.win-screen {
	background-color: lightblue;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100vw;
  height: 100vh;
}

.win-gift {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.win-text {
	line-height: 1.2;
	width: 30em;
	margin-right: 3em;
}

.command {
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
}

.dark-grey {
	color: darkslategray;
}

.white {
	color: floralwhite;
}

/* Animation */
.typing {
	font-size: 2em;
	padding-bottom: 0.5em;
	margin-bottom: 0;
	color: darkslategray;
	white-space: nowrap;
  overflow: hidden;   
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}